$bg-white: rgb(255, 255, 255);
$bg-page: rgb(245, 247, 255);
$shadow-page: 0px 4px 23px 0px rgba(49, 49, 49, 0.05);
$width-search: 307px;
$width-icon: 28px;
$padding-icon: 6px;
$color-search: #a5a5a5;
$lt-spacing-header: 0.02em;
$fs-14: 14px;
$link: rgb(39, 35, 35);

%button-purple {
  border-radius: 6px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
  padding: 12px 22px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
%description {
  color: rgb(168, 168, 168);
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}
ul {
  list-style-type: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  box-shadow: $shadow-page;
}
// .container {
//   max-width: 1440px;
// }
.header {
  padding-bottom: 56px;
  background-color: $bg-page;
  .wrapper__header {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn__row {
      button {
        font-weight: 400;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 62px;
        letter-spacing: $lt-spacing-header;
        background: none;
        color: #272323;
      }
      span {
        font-weight: 400;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 62px;
        color: #272323;
      }

      > button:first-child {
        color: #4238af;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }
}

.logo {
  width: 104px;
  height: 45.32px;
  img {
    width: 100%;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  width: 433px;
  align-items: center;
  justify-content: space-between;
  .menu__link {
    font-family: "Open Sans";
    color: $link;
    font-size: $fs-14;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: $lt-spacing-header;
  }
  &:last-child {
    margin-right: 67px;
  }
}

.search {
  width: $width-search;
  min-height: 35px;
  position: relative;
}
input[type="search"] {
  border: none;
  outline: none;
  height: 35px;
  border-radius: 50px;
  width: $width-search - $width-icon - $padding-icon;
  vertical-align: middle;
  background: $bg-white;
  color: $color-search;
  font-family: "Open Sans";
  font-size: $fs-14;
  font-weight: 400;
  letter-spacing: $lt-spacing-header;
  padding-left: 19px;
}
input[type="submit"] {
  width: $width-icon;
  height: 35px;
  border: none;
  background: url(/assets/img/search.png) no-repeat 50% 50%;
  position: absolute;
  right: 40px;
}
.container {
  width: 1108.99px;
}
.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-page;
    margin-bottom: 32px;

    &__title h1 {
      width: 510px;
      font-family: "Prompt";
      font-size: 45px;
      font-weight: 400;
      line-height: 55px;
      letter-spacing: 0.07em;
      margin-bottom: 18px;

      span {
        color: #ff5c00;
      }
    }

    &__description {
      @extend %description;
      width: 543px;
    }
    &__buttons {
      .btn__row {
        margin-bottom: 126px;
        button {
          @extend %button-purple;
        }
        .transparent {
          color: rgb(0, 0, 0);
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.02px;
          background: url(/assets/img/button-watch.png) no-repeat 20%;
          box-shadow: none;
          padding-left: 80px;
        }
      }
    }
    &__photo {
      width: 568px;
      height: 523px;
      img {
        width: 100%;
      }
    }
  }
  .company__names {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 66px;
  }
  .finding__job {
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 40px;
      .cover__finding-job {
        width: 635px;
        height: 433px;
        position: relative;
        & img {
          width: 100%;
        }
        &::before {
          content: url("../../assets/img/vector-media.png");
          position: absolute;
          width: 77px;
          height: 77px;
          top: 40%;
          left: 45%;
        }
      }
    }
    &__subtitle h5 {
      color: rgb(255, 92, 0);
      font-family: "Oswald";
      font-size: 12px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
    }
    &__title h2 {
      color: rgb(53, 52, 52);
      font-family: Oswald;
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      width: 395px;
      margin-bottom: 46px;
    }
    .acor-container {
      & .acor-body {
        margin: 0 auto;
        height: 0;
        border-radius: 8px;
        padding: 22px 0;
        box-sizing: border-box;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        width: 435px;
        @extend %description;
      }
      & .acor-body p {
        display: none;
        margin: 0px 4px 21px 59px;
      }
      & label {
        cursor: pointer;
        border-radius: 8px;
        background-color: #f5f7ff;
        color: rgb(50, 50, 50);
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0.02em;
        display: block;
        padding: 22px 242px 0px 59px;
        width: 100%;
        box-sizing: border-box;
        z-index: 100;
        transition: color 0.35s;
        position: relative;
      }
      & label:after {
        content: "1";
        position: absolute;
        top: 19px;
        left: 14px;
        width: 30px;
        height: 30px;
        color: #9444c9;
        background-color: #f3e0ff;
        border-radius: 6px;
      }
      & input {
        display: none;
      }
      & label:before {
        content: "\276F";
        position: absolute;
        color: #4238af;
        width: 10px;
        height: 17px;
        right: 24px;
        top: 24px;
      }
      & input:checked + label:before {
        transition: transform 0.35s;
        transform: rotate(90deg);
      }
      & input:checked + label + .acor-body {
        height: auto;
        font-size: 12px;
        display: block;
        background: rgb(245, 247, 255);
        @extend %description;
      }
      & input:checked + label + .acor-body p {
        display: block;
        width: 372px;
      }
    }
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url("../fonts/Prompt/Prompt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
