@charset "UTF-8";
.page .banner__buttons .btn__row button {
  border-radius: 6px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
  padding: 12px 22px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.page .finding__job .acor-container input:checked + label + .acor-body, .page .finding__job .acor-container .acor-body, .page .banner__description {
  color: rgb(168, 168, 168);
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.page .finding__job .acor-container .chacor3 span, .page .finding__job .acor-container .chacor2 span, .page .finding__job .acor-container .chacor1 span {
  position: absolute;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.02em;
  top: 0;
  left: 25px;
  z-index: 20;
}

.page .finding__job .acor-container .chacor3:after, .page .finding__job .acor-container .chacor2:after, .page .finding__job .acor-container .chacor1:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  box-shadow: 0px 4px 23px 0px rgba(49, 49, 49, 0.05);
}

.header {
  padding-bottom: 56px;
  background-color: rgb(245, 247, 255);
}
.header .wrapper__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .wrapper__header .btn__row button {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 62px;
  letter-spacing: 0.02em;
  background: none;
  color: #272323;
}
.header .wrapper__header .btn__row span {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 62px;
  color: #272323;
}
.header .wrapper__header .btn__row > button:first-child {
  color: #4238af;
}
.header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.logo {
  width: 104px;
  height: 45.32px;
}
.logo img {
  width: 100%;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  width: 433px;
  align-items: center;
  justify-content: space-between;
}
.menu__list .menu__link {
  font-family: "Open Sans";
  color: rgb(39, 35, 35);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.menu__list:last-child {
  margin-right: 67px;
}

.search {
  width: 307px;
  min-height: 35px;
  position: relative;
}

input[type=search] {
  border: none;
  outline: none;
  height: 35px;
  border-radius: 50px;
  width: 273px;
  vertical-align: middle;
  background: rgb(255, 255, 255);
  color: #a5a5a5;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  padding-left: 19px;
}

input[type=submit] {
  width: 28px;
  height: 35px;
  border: none;
  background: url(/assets/img/search.png) no-repeat 50% 50%;
  position: absolute;
  right: 40px;
}

.container {
  width: 1108.99px;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.page .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 247, 255);
  margin-bottom: 32px;
}
.page .banner__title h1 {
  width: 510px;
  font-family: "Prompt";
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.07em;
  margin-bottom: 18px;
}
.page .banner__title h1 span {
  color: #ff5c00;
}
.page .banner__description {
  width: 543px;
}
.page .banner__buttons .btn__row {
  margin-bottom: 126px;
}
.page .banner__buttons .btn__row .transparent {
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02px;
  background: url(/assets/img/button-watch.png) no-repeat 20%;
  box-shadow: none;
  padding-left: 80px;
}
.page .banner__photo {
  width: 568px;
  height: 523px;
}
.page .banner__photo img {
  width: 100%;
}
.page .company__names {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;
}
.page .finding__job > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.page .finding__job > div .cover__finding-job {
  width: 635px;
  height: 433px;
  position: relative;
}
.page .finding__job > div .cover__finding-job img {
  width: 100%;
}
.page .finding__job > div .cover__finding-job::before {
  content: url("../../assets/img/vector-media.png");
  position: absolute;
  width: 77px;
  height: 77px;
  top: 40%;
  left: 45%;
}
.page .finding__job__subtitle h5 {
  color: rgb(255, 92, 0);
  font-family: "Oswald";
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.05em;
}
.page .finding__job__title h2 {
  color: rgb(53, 52, 52);
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.05em;
  width: 395px;
  margin-bottom: 26px;
}
.page .finding__job .acor-container .acor-body {
  margin: 0 auto;
  height: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 7px 0;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  width: 435px;
}
.page .finding__job .acor-container .acor-body p {
  display: none;
  margin: 0px 4px 21px 59px;
}
.page .finding__job .acor-container label {
  cursor: pointer;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f5f7ff;
  color: rgb(50, 50, 50);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.02em;
  display: block;
  padding-left: 59px;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  transition: color 0.35s;
  position: relative;
}
.page .finding__job .acor-container .chacor1 span {
  color: rgb(148, 68, 201);
}
.page .finding__job .acor-container .chacor2 span {
  color: #626fff;
}
.page .finding__job .acor-container .chacor3 span {
  color: #ff5c00;
}
.page .finding__job .acor-container .chacor1:after {
  background-color: #f3e0ff;
}
.page .finding__job .acor-container .chacor2:after {
  background-color: #e7e9fe;
}
.page .finding__job .acor-container .chacor3:after {
  background-color: #ffdecc;
}
.page .finding__job .acor-container input {
  display: none;
}
.page .finding__job .acor-container label:before {
  content: "❯";
  position: absolute;
  color: #4238af;
  width: 10px;
  height: 17px;
  right: 24px;
  top: 0px;
}
.page .finding__job .acor-container input:checked + label {
  position: relative;
}
.page .finding__job .acor-container input:checked + label:before {
  position: absolute;
  transition: transform 0.35s;
  transform: rotate(90deg);
  top: 15px;
  right: 10px;
}
.page .finding__job .acor-container input:checked + label + .acor-body {
  height: auto;
  font-size: 12px;
  display: block;
  background: rgb(245, 247, 255);
}
.page .finding__job .acor-container input:checked + label + .acor-body p {
  display: block;
  width: 372px;
  margin-top: -15px;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url("../fonts/Prompt/Prompt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */