$bg-white: rgb(255, 255, 255);
$bg-page: rgb(245, 247, 255);
$shadow-page: 0px 4px 23px 0px rgba(49, 49, 49, 0.05);
$width-search: 307px;
$width-icon: 28px;
$padding-icon: 6px;
$color-search: #a5a5a5;
$lt-spacing-header: 0.02em;
$fs-14: 14px;
$link: rgb(39, 35, 35);

%button-purple {
  border-radius: 6px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
  padding: 12px 22px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
%title {
  color: rgb(53, 52, 52);
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.05em;
}
%description {
  color: rgb(168, 168, 168);
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
%span-numbers {
  position: absolute;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.02em;
  top: 0;
  left: 25px;
  z-index: 20;
}
%charcor-square {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
%current-block {
  border-radius: 20px;
  box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  background: rgb(255, 255, 255);
}
%hover-block {
  border-radius: 20px;
  box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  background: rgb(249, 250, 255);
}
@mixin choose__block {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 7px;
}
@mixin choose_icon {
  position: absolute;
  content: url("/assets/img/choose_block.png");
  width: 34.41px;
  height: 34.41px;
  top: 20%;
  left: 20%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}
ul {
  list-style-type: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  box-shadow: $shadow-page;
}
// .container {
//   max-width: 1440px;
// }
.header {
  padding-bottom: 56px;
  background-color: $bg-page;
  .wrapper__header {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn__row {
      button {
        font-weight: 400;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 62px;
        letter-spacing: $lt-spacing-header;
        background: none;
        color: #272323;
      }
      span {
        font-weight: 400;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 62px;
        color: #272323;
      }

      > button:first-child {
        color: #4238af;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }
}

.logo {
  width: 104px;
  height: 45.32px;
  img {
    width: 100%;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  width: 433px;
  align-items: center;
  justify-content: space-between;
  .menu__link {
    font-family: "Open Sans";
    color: $link;
    font-size: $fs-14;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: $lt-spacing-header;
  }
  &:last-child {
    margin-right: 67px;
  }
}

.search {
  width: $width-search;
  min-height: 35px;
  position: relative;
}
input[type="search"] {
  border: none;
  outline: none;
  height: 35px;
  border-radius: 50px;
  width: $width-search - $width-icon - $padding-icon;
  vertical-align: middle;
  background: $bg-white;
  color: $color-search;
  font-family: "Open Sans";
  font-size: $fs-14;
  font-weight: 400;
  letter-spacing: $lt-spacing-header;
  padding-left: 19px;
}
input[type="submit"] {
  width: $width-icon;
  height: 35px;
  border: none;
  background: url(/assets/img/search.png) no-repeat 50% 50%;
  position: absolute;
  right: 40px;
}
.container {
  width: 1108.99px;
}
.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-page;
    margin-bottom: 32px;

    &__title h1 {
      width: 510px;
      font-family: "Prompt";
      font-size: 45px;
      font-weight: 400;
      line-height: 55px;
      letter-spacing: 0.07em;
      margin-bottom: 18px;

      span {
        color: #ff5c00;
      }
    }

    &__description {
      @extend %description;
      width: 543px;
    }
    &__buttons {
      .btn__row {
        margin-bottom: 126px;
        button {
          @extend %button-purple;
        }
        .transparent {
          color: rgb(0, 0, 0);
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.02px;
          background: url(/assets/img/button-watch.png) no-repeat 20%;
          box-shadow: none;
          padding-left: 80px;
        }
      }
    }
    &__photo {
      width: 568px;
      height: 523px;
      img {
        width: 100%;
      }
    }
  }
  .company__names {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 66px;
  }
  .finding__job {
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 40px;
      margin-bottom: 119px;
      .cover__finding-job {
        width: 635px;
        height: 433px;
        position: relative;
        & img {
          width: 100%;
        }
        &::before {
          content: url("../../assets/img/vector-media.png");
          position: absolute;
          width: 77px;
          height: 77px;
          top: 40%;
          left: 45%;
        }
      }
    }
    &__subtitle h5 {
      color: rgb(255, 92, 0);
      font-family: "Oswald";
      font-size: 12px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
    }
    &__title h2 {
      @extend %title;
      width: 395px;
      margin-bottom: 26px;
    }
    .acor-container {
      & .acor-body {
        margin: 0 auto;
        height: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 7px 0;
        box-sizing: border-box;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        width: 435px;
        @extend %description;
      }
      & .acor-body p {
        display: none;
        margin: 0px 4px 21px 59px;
      }
      & label {
        cursor: pointer;
        border-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: #f5f7ff;
        color: rgb(50, 50, 50);
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0.02em;
        display: block;
        padding-left: 59px;
        width: 100%;
        box-sizing: border-box;
        z-index: 100;
        transition: color 0.35s;
        position: relative;
      }
      & .chacor1 span {
        color: rgb(148, 68, 201);
        @extend %span-numbers;
      }
      & .chacor2 span {
        color: #626fff;
        @extend %span-numbers;
      }
      & .chacor3 span {
        color: #ff5c00;
        @extend %span-numbers;
      }
      & .chacor1:after {
        background-color: #f3e0ff;
        @extend %charcor-square;
      }
      & .chacor2:after {
        background-color: #e7e9fe;
        @extend %charcor-square;
      }
      & .chacor3:after {
        background-color: #ffdecc;
        @extend %charcor-square;
      }
      & input {
        display: none;
      }
      & label:before {
        content: "\276F";
        position: absolute;
        color: #4238af;
        width: 10px;
        height: 17px;
        right: 24px;
        top: 0px;
      }
      & input:checked + label {
        position: relative;
      }
      & input:checked + label:before {
        position: absolute;
        transition: transform 0.35s;
        transform: rotate(90deg);
        top: 15px;
        right: 10px;
      }
      & input:checked + label + .acor-body {
        height: auto;
        font-size: 12px;
        display: block;
        background: rgb(245, 247, 255);
        @extend %description;
      }
      & input:checked + label + .acor-body p {
        display: block;
        width: 372px;
        margin-top: -15px;
      }
    }
  }
  .why__choose__us {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 85px;
    }
    &__title h2 {
      @extend %title;
      margin-bottom: 20px;
    }
    &__description {
      @extend %description;
      font-size: 14px;
      width: 543px;
      text-align: center;
      margin-bottom: 45px;
    }
    &__blocks {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    &__blocks div {
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .choose__block {
      @extend %current-block;
      width: 360px;
      height: 254px;
      padding: 40px 0px 34px 37px;
    }
    .choose__block:hover {
      @extend %hover-block;
      margin-bottom: 15px;
    }
    .choose__block__1 {
      @include choose__block;
      background-color: #6156dc;
      &__icon {
        @include choose_icon;
      }
    }
    .choose__block__2 {
      @include choose__block;
      background-color: #ef6010;
      &__icon {
        @include choose_icon;
      }
    }
    .choose__block__3 {
      @include choose__block;
      background-color: #a73eed;
      &__icon {
        @include choose_icon;
      }
    }
    .choose__block__title {
      margin-top: 80px;
      color: rgb(50, 50, 50);
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.02em;
    }
    .choose__block__description {
      @extend %description;
      color: #8f8f8f;
      width: 370px;
    }
  }
  .featured__jobs {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__title h2 {
      @extend %title;
      margin-bottom: 20px;
    }
    &__description {
      @extend %description;
      font-size: 14px;
      width: 543px;
      text-align: center;
      margin-bottom: 45px;
    }
    .featured__jobs__blocks {
      .featured__jobs__block {
        &__photo {
          width: 75px;
          height: 75px;
          margin: auto;
        }
        &__title {
          margin: 44px 0;
          text-align: center;
          h4 {
            color: rgb(50, 50, 50);
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0.02em;
          }
          h6 {
            color: rgb(66, 56, 175);
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.02em;
          }
        }
        &__price__and__location {
          display: flex;
          flex-direction: column;
          gap: 14px;
        }
        &__price,
        &__location {
          display: flex;
          flex-direction: row;
          gap: 9px;
          div {
            p {
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: 0.02em;
              color: #323232;
            }
            span {
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: 0.02em;
              color: #898989;
            }
          }
        }
        &__price {
          div {
            img {
              width: 15px;
              height: 18px;
            }
          }
        }
        &__location {
          div {
            img {
              width: 12px;
              height: 17px;
            }
            span {
              margin-left: 20px;
            }
          }
        }
      }
      .featured__jobs__block:hover {
        width: 380px;
        height: 465px;
        margin: auto;
        padding: 51px 0px;
        border-radius: 20px;
        box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
        background: rgb(249, 250, 255);
      }
    }
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url("../fonts/Prompt/Prompt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
